@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --primaryColor: hsl(211, 53%, 17%);
    --secondaryColor: hsl(211, 53%, 27%);
    --lightColor: hsl(211, 53%, 37%);
    --yellowColor: hsl(45, 93%, 73%);
    --whiteColor: hsl(0, 0%, 88%);
    --shipColor: hsl(24, 2%, 41%);
    --hitColor: #e63946;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Bebas Neue", system-ui;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.title-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.game-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 90vh;
}

.player-1-div,
.player-2-div {
    display: flex;
    gap: 1rem;
}

.player-1-ship-list,
.player-2-ship-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-1-gameboard-div,
.player-2-gameboard-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.player-1-gameboard,
.player-2-gameboard {
    display: grid;
    grid-template-rows: repeat(10, 3vw);
    grid-template-columns: repeat(10, 3vw);
    padding: 4px;
    gap: 3px;
    border: 2px solid var(--secondaryColor);
}

.cell {
    border: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 0.2rem;
    width: 3vw;
    height: 3vw;
}

.player-2-gameboard > .cell:hover {
    background-color: var(--lightColor);
    border: none;
    cursor: pointer;
}

.hit {
    background-color: var(--hitColor) !important;
    border: none;
}

.miss {
    opacity: 0.3;
}

.shipDiv {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.shipSegment {
    width: 1rem;
    aspect-ratio: 1;
    background-color: var(--shipColor);
}

.player-1-ship-list,
.player-2-ship-list {
    background: rgba(255, 0, 0, 0.2);
    min-height: 50px;
}

.game-buttons {
    display: flex;
    gap: 1rem;
}

.new-game-button,
.start-button,
.randomize-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
}

.start-button {
    background-color: hsl(113, 55%, 42%);
}

.randomize-button {
    background-color: #3967e6;
}

.game-over-screen {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.new-game-button {
    background-color: var(--hitColor);
    color: white;
}
